html, body {
  margin: 0;
  padding: 0;
}

.wbutton {
  background-color: #5555ff;
  border: 2;
  color: white;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}

.container {
  position: relative;
 height: 100%;
 width: 100%;
}

.bottomleft {
  position: absolute;
  bottom: 8px;
  left: 60px;
  z-index:9999;
}

html, body, #map {
 height: 100%;
 width: 100%;
}

#map {
 height: 100%;
 width: 100%;
}

