html, body {
  margin: 0;
  /** Possibly padding too **/
  padding: 0;
}

.wbutton {
  background-color: #5555ff;
  border: 2;
  color: white;
  padding: 2px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
}
